@charset "UTF-8";
.sortable thead th {
	position: sticky;
	top: -1px;
}
.sortable thead th:not(.no-sort) {
	cursor: pointer;
}
.sortable thead th:not(.no-sort)::after, .sortable thead th:not(.no-sort)::before {
	transition: color 0.075s ease-in-out;
	color: transparent;
}
.sortable thead th:not(.no-sort)::after {
	margin-left: 3px;
	content: "▸";
}
.sortable thead th:not(.no-sort):hover::after {
	color: inherit;
}
.sortable thead th:not(.no-sort)[aria-sort=descending]::after {
	color: inherit;
	content: "▾";
}
.sortable thead th:not(.no-sort)[aria-sort=ascending]::after {
	color: inherit;
	content: "▴";
}
.sortable thead th:not(.no-sort).indicator-left::after {
	content: "";
}
.sortable thead th:not(.no-sort).indicator-left::before {
	margin-right: 3px;
	content: "▸";
}
.sortable thead th:not(.no-sort).indicator-left:hover::before {
	color: inherit;
}
.sortable thead th:not(.no-sort).indicator-left[aria-sort=descending]::before {
	color: inherit;
	content: "▾";
}
.sortable thead th:not(.no-sort).indicator-left[aria-sort=ascending]::before {
	color: inherit;
	content: "▴";
}

.sortable {
	--stripe-color: #e4e4e4;
	--th-color: #fff;
	--th-bg: #808080;
	--th-bg-light: #A0A0A0;
	--th-bg-dark: #606060;
	--td-color: #000;
	--td-on-stripe-color: #000;
	border-spacing: 0;
}
.sortable tbody tr:nth-child(odd) {
	background-color: var(--stripe-color);
	color: var(--td-on-stripe-color);
}
.sortable thead th {
	background: var(--th-bg);
	color: var(--th-color);
	font-weight: normal;
	text-align: left;
	vertical-align: baseline;
	white-space: nowrap;
}
.sortable td {
	color: var(--td-color);
	word-break: keep-all;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
