@charset "UTF-8";
.sortable thead th {
	position: sticky;
	top: -1px;
}
.sortable thead th:not(.no-sort) {
	cursor: pointer;
}
.sortable thead th:not(.no-sort)::after, .sortable thead th:not(.no-sort)::before {
	transition: color 0.075s ease-in-out;
	color: transparent;
}
.sortable thead th:not(.no-sort)::after {
	margin-left: 3px;
	content: "▸";
}
.sortable thead th:not(.no-sort):hover::after {
	color: inherit;
}
.sortable thead th:not(.no-sort)[aria-sort=descending]::after {
	color: inherit;
	content: "▾";
}
.sortable thead th:not(.no-sort)[aria-sort=ascending]::after {
	color: inherit;
	content: "▴";
}
.sortable thead th:not(.no-sort).indicator-left::after {
	content: "";
}
.sortable thead th:not(.no-sort).indicator-left::before {
	margin-right: 3px;
	content: "▸";
}
.sortable thead th:not(.no-sort).indicator-left:hover::before {
	color: inherit;
}
.sortable thead th:not(.no-sort).indicator-left[aria-sort=descending]::before {
	color: inherit;
	content: "▾";
}
.sortable thead th:not(.no-sort).indicator-left[aria-sort=ascending]::before {
	color: inherit;
	content: "▴";
}

.sortable {
	--th-color: #fff;
	--th-bg: #808080;
	--th-bg-light: #A0A0A0;
	--th-bg-dark: #606060;
	--tr-bg: #fff;
	--tr-stripe-bg: #e4e4e4;
	--tr-color: #000;
	--tr-on-stripe-color: #000;
	--border-color: #000;

	border-spacing: 0;
}
.sortable tbody tr {
	background: var(--tr-bg);
	color: var(--tr-color);
}
.sortable tbody tr:nth-child(odd) {
	background: var(--tr-stripe-bg);
	color: var(--tr-on-stripe-color);
}
.sortable thead th {
	background: var(--th-bg);
	color: var(--th-color);
	font-weight: normal;
	text-align: left;
	vertical-align: baseline;
	white-space: nowrap;
}
.sortable td {
	white-space: nowrap;
}

table, th, td {
	border: 1px solid var(--border-color);
	border-collapse: collapse;
}

/*
** Dark theme
*/

@media (prefers-color-scheme: dark) {
	.sortable {
		--th-color: #fff;
		--th-bg: #404040;
		--th-bg-light: #707070;
		--th-bg-dark: #2D2D2D;
		--tr-bg: #111;
		--tr-stripe-bg: #1A1A1A;
		--tr-color: #fff;
		--tr-on-stripe-color: #fff;
		--border-color: #444;
	}
}
