.hidden {
	display: none;
}

* {
	font-family: 'M+1Code Nerd Font', 'MS Gothic', 'Times New Roman', Times, serif;
}

section {
	font-size: 14px;
}

/*
** Table styling
*/

.columnType {
	color: lightgray;
}
.columnFlag {
	background: var(--th-bg-dark) !important;
}

.cellWrapper {
	display: flex;
	flex-direction: column;
}

.cellHash {
	font-family: monospace;
}
.cellRawValue {
	font-style: italic;
}
.cellLocalization {
	color: var(--td-color);
	text-decoration: underline dotted;
}
.cellFlag {}
.cellFlagFalse {
	opacity: 0.25;
}

table.sortable > thead > tr#header > th.columnMeta,
table.sortable > tbody > tr > td.cellMeta {
	border-right: 3px double black;
}
