.hidden {
	display: none;
}

.cellWrapper {
	display: flex;
	flex-direction: column;
}

.columnType {
	color: lightgray;
}

.hashCell {
	font-family: monospace;
}

.hashValue {
	font-style: italic;
}

.localizationCell {
	color: var(--td-color);
	text-decoration: underline dotted;
}