<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/res/style.css">
		<link rel="stylesheet" href="/res/sortable-edit.css">
		<script src="/res/details.js"></script>
		<script src="http://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>
	</head>
	<body>
		<div id="pageWrapper">
			<h1><span class="tableName">{{table_name}}#</span>{{sheet_name}}</h1>
			<section>
				<input type="checkbox" id="cbColumnTypes"><label for="cbColumnTypes">Show Column Types</label><br>
				<input type="checkbox" id="cbHashValues"><label for="cbHashValues">Show Raw Hash Values</label><br>
				{{sheet_table}}
			</section>
		</div>
	</body>
</html> 
